___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [13]:
import pandas as pd
ri = pd.read_csv('RI_cleaned.csv', nrows=50000)
drop_columns=["state", "county_name", "county_fips", "fine_grained_location"]
ri.drop(drop_columns, axis='columns', inplace=True)
ri.dropna(subset=['driver_gender'], inplace=True)
ri['is_arrested'] = ri.is_arrested.astype('bool')
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')
ri['stop_datetime'] = pd.to_datetime(combined)
ri.drop(["stop_date", "stop_time"], axis='columns', inplace=True)
ri.set_index('stop_datetime', inplace=True)

C:\Users\ata\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
ri.to_csv('RI_cleaned2.csv')

In [16]:
ri.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [17]:
ri.shape

(48010, 20)

In [18]:
ri.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [19]:
ri.groupby('violation').violation.count()

violation
Equipment               3022
Moving violation        6522
Other                    892
Registration/plates     1463
Speeding               36111
Name: violation, dtype: int64

In [20]:
ri.violation.value_counts()

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [21]:
ri[['violation']]

                     violation
stop_datetime
2005-01-02 01:55:00   Speeding
2005-01-02 20:30:00   Speeding
2005-01-04 12:55:00  Equipment
2005-01-06 01:30:00  Equipment
2005-01-12 08:05:00      Other
...                        ...
2006-08-08 22:45:00  Equipment
2006-08-08 22:45:00   Speeding
2006-08-08 22:53:00   Speeding
2006-08-08 23:00:00   Speeding
2006-08-08 23:00:00   Speeding

[48010 rows x 1 columns]

In [22]:
ri.violation.value_counts()

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [23]:
ri.violation.value_counts(normalize=True)

Speeding               0.752156
Moving violation       0.135847
Equipment              0.062945
Registration/plates    0.030473
Other                  0.018579
Name: violation, dtype: float64

In [25]:
round(ri.violation.value_counts(normalize=True) * 100)

Speeding               75.0
Moving violation       14.0
Equipment               6.0
Registration/plates     3.0
Other                   2.0
Name: violation, dtype: float64

In [26]:
ri.driver_gender.value_counts().sum()

48010

In [27]:
female = ri[ri.driver_gender == 'F']

In [29]:
female.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,200,F,1983.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,Zone K3,300,F,1984.0,21.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [30]:
female['driver_gender'].count()

13309

In [31]:
male = ri[ri.driver_gender == 'M']

In [32]:
male['driver_gender'].count()

34701

In [33]:
round(female.violation.value_counts(normalize=True) * 100)

Speeding               81.0
Moving violation       10.0
Equipment               5.0
Registration/plates     3.0
Other                   2.0
Name: violation, dtype: float64

In [34]:
round(male.violation.value_counts(normalize=True) * 100)

Speeding               73.0
Moving violation       15.0
Equipment               7.0
Registration/plates     3.0
Other                   2.0
Name: violation, dtype: float64

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [35]:
female_and_speedig = ri[(ri.driver_gender == 'F') & (ri.violation == 'Speeding')]

In [37]:
female_and_speedig.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,Zone X3,200,F,1983.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,Zone K3,300,F,1984.0,21.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [40]:
male_and_speedig = ri[(ri.driver_gender == 'M') & (ri.violation == 'Speeding')]

In [39]:
male_and_speedig.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

## Comparing speeding outcomes by gender

***

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [50]:
round(female_and_speedig.stop_outcome.value_counts(normalize=True) * 100, 2)

Citation            97.34
Warning              1.30
Arrest Driver        0.74
N/D                  0.36
Arrest Passenger     0.23
No Action            0.03
Name: stop_outcome, dtype: float64

In [51]:
round(male_and_speedig.stop_outcome.value_counts(normalize=True) * 100, 2)

Citation            95.73
Arrest Driver        2.62
Warning              1.07
N/D                  0.34
Arrest Passenger     0.20
No Action            0.04
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [52]:
ri.search_conducted.dtype

dtype('bool')

In [53]:
ri.search_conducted.value_counts()

False    45998
True      2012
Name: search_conducted, dtype: int64

In [54]:
round(ri.search_conducted.value_counts(normalize=True) * 100, 2)

False    95.81
True      4.19
Name: search_conducted, dtype: float64

In [55]:
# burda mean alirsak o da truelarin ortalamasini verir sadece
round(ri.search_conducted.mean() * 100, 2)

4.19

In [56]:
round(male.search_conducted.mean() * 100, 2)

5.12

In [57]:
round(female.search_conducted.mean() * 100, 2)

1.78

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [58]:
ri.driver_gender.unique()

array(['M', 'F'], dtype=object)

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [59]:
round(ri.groupby('driver_gender')['search_conducted'].mean() * 100, 2)

driver_gender
F    1.78
M    5.12
Name: search_conducted, dtype: float64

In [60]:
round(ri.groupby('driver_gender').search_conducted.mean() * 100, 2)

driver_gender
F    1.78
M    5.12
Name: search_conducted, dtype: float64

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [61]:
ri.columns

Index(['id', 'location_raw', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

In [62]:
ri.violation.unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates'], dtype=object)

In [63]:
round(ri.groupby(['driver_gender', 'violation'])[['search_conducted']].mean() * 100, 2)

                                   search_conducted
driver_gender violation
F             Equipment                        7.91
              Moving violation                 4.78
              Other                            4.52
              Registration/plates             11.44
              Speeding                         0.69
M             Equipment                       12.34
              Moving violation                 8.88
              Other                           15.50
              Registration/plates             17.15
              Speeding                         2.86

In [64]:
ri.search_type.value_counts()

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Protective Frisk,Reasonable Suspicion                        16
Inventory,Probable Cause                                     16
Probable Cause,Reasonable Suspicion                          12
Incident to Arrest,Reasonable Suspicion                       5
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Inventory,Probable Cause,Protective Frisk                     2
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Name: search_type, dtype: int64

In [65]:
ri[ri.search_type == 'Protective Frisk'].head()  # yeterli degil

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-10-06 21:35:00,RI-2005-01027,Zone X4,500,M,1966.0,39.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4
2005-10-07 11:33:00,RI-2005-01121,Zone X4,900,M,1980.0,25.0,W,White,Equipment/Inspection Violation,Equipment,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,16-30 Min,False,False,Zone X4
2005-10-09 19:20:00,RI-2005-01474,Zone K3,300,M,1962.0,43.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone K3
2005-10-10 07:00:00,RI-2005-01548,Zone X4,500,M,1970.0,35.0,W,White,Speeding,Speeding,True,Terry Frisk,Protective Frisk,False,Arrest Passenger,True,0-15 Min,False,False,Zone X4
2005-10-12 20:30:00,RI-2005-01871,Zone K3,300,M,1987.0,18.0,H,Hispanic,Other Traffic Violation,Moving violation,True,Terry Frisk,Protective Frisk,False,Arrest Driver,True,0-15 Min,False,False,Zone K3

In [66]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na = False) # yeni sutun acip seri ekliyoruz

In [67]:
ri.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [59]:
ri

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False
2005-01-04 12:55:00,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False
2005-01-06 01:30:00,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False
2005-01-12 08:05:00,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-08-08 22:45:00,RI-2006-35917,Zone K3,300,M,1973.0,33.0,B,Black,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,False
2006-08-08 22:45:00,RI-2006-35918,Zone K3,300,F,1971.0,35.0,B,Black,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,False
2006-08-08 22:53:00,RI-2006-35919,Zone X4,500,M,1952.0,54.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone X4,False
2006-08-08 23:00:00,RI-2006-35920,Zone K1,600,F,1982.0,24.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2006-08-08 23:00:00,RI-2006-35921,Zone K3,300,M,1965.0,41.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone K3,False

In [60]:
ri.search_conducted  # seri dondurur

stop_datetime
2005-01-02 01:55:00    False
2005-01-02 20:30:00    False
2005-01-04 12:55:00    False
2005-01-06 01:30:00    False
2005-01-12 08:05:00    False
                       ...
2006-08-08 22:45:00    False
2006-08-08 22:45:00    False
2006-08-08 22:53:00    False
2006-08-08 23:00:00    False
2006-08-08 23:00:00    False
Name: search_conducted, Length: 48010, dtype: bool

In [61]:
ri.search_conducted.value_counts()

False    45998
True      2012
Name: search_conducted, dtype: int64

In [62]:
ri.search_conducted

stop_datetime
2005-01-02 01:55:00    False
2005-01-02 20:30:00    False
2005-01-04 12:55:00    False
2005-01-06 01:30:00    False
2005-01-12 08:05:00    False
                       ...
2006-08-08 22:45:00    False
2006-08-08 22:45:00    False
2006-08-08 22:53:00    False
2006-08-08 23:00:00    False
2006-08-08 23:00:00    False
Name: search_conducted, Length: 48010, dtype: bool

In [63]:
searched = ri[ri.search_conducted] # boolen oldugu icin default True sarti dondurur

In [64]:
searched.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2012 entries, 2005-01-24 20:32:00 to 2006-08-08 22:22:00
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2012 non-null   object
 1   location_raw        2012 non-null   object
 2   police_department   2012 non-null   object
 3   driver_gender       2012 non-null   object
 4   driver_age_raw      2012 non-null   float64
 5   driver_age          2010 non-null   float64
 6   driver_race_raw     2012 non-null   object
 7   driver_race         2012 non-null   object
 8   violation_raw       2012 non-null   object
 9   violation           2012 non-null   object
 10  search_conducted    2012 non-null   bool
 11  search_type_raw     2012 non-null   object
 12  search_type         2012 non-null   object
 13  contraband_found    2012 non-null   bool
 14  stop_outcome        2012 non-null   object
 15  is_arrested         2012 non-null   bool
 16  stop_duration       2012 non-null   object
 17  out_of_state        2002 non-null   object
 18  drugs_related_stop  2012 non-null   bool
 19  district            2012 non-null   object
 20  frisk               2012 non-null   bool
dtypes: bool(5), float64(2), object(14)
memory usage: 277.0+ KB

In [65]:
round(searched.frisk.mean() * 100, 2)

20.03